* {
    margin: 0px;
    padding: 0px;
}
body {
    background-image: url("http://www.osmais.com/wallpapers/201209/estrada-floresta-wallpaper-1280x720.jpg");
    background-size: cover;
    color: white;
    text-transform: uppercase;
}
.btn-teste {
    background-color: yellow;
}
#login-box {
    padding: .2em;
    max-width: 40%;
    margin-top: 8em;
    background-color: rgba(100, 2, 200, 0.8);
}

#login-box form {
    margin: 0.4em;
}
